<nav>
  <div class="nav-wrapper">
    <a href="https://www.ripio.com/es/" class="brand-logo center">
      Ripio
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a (click)="Logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="row" *ngIf="actualUser&&actualClient">
  <div class="col s12 m2">
    <div class="card">
      <div class="card-content">
        <span><strong>Username:</strong> {{actualUser.username}}</span>
        <br>
        <span><strong>Email:</strong> {{actualUser.email}}</span>
        <br>
        <span><strong>Full Name:</strong> {{actualClient.firstname}} {{actualClient.lastname}}</span>
        <br>
        <span><strong>ID Card:</strong> {{actualClient.idcard}}</span>
      </div>
    </div>
  </div>
</div>

<button *ngIf="!transferActive && !transferView" class="button" mat-fab (click)="openDialogAddAccount()">
    <i class="material-icons">
      add
    </i>
</button>

<button *ngIf="!transferActive && !transferView" class="button" mat-fab (click)="displayTransfers()">
  <i class="material-icons">
    search
  </i>
</button>

<button *ngIf="transferView && !transferActive" mat-mini-fab color="warn" class="button-back" (click)="goBackAccounts()">
  <i class="material-icons">
    arrow_back_ios
  </i>
</button>

<app-account *ngIf="accounts && !transferActive && !transferView" [accounts]="accounts"
            (transferActive)="eventTransferActive($event)"
            (transferView)="eventTransferView($event)"
            (accountNumberFrom)="eventaccountNumberFrom($event)"
            (currencyFrom)="eventCurrencyFrom($event)">
</app-account>

<app-transfer *ngIf="transferActive && !transferView" [accountNumberFrom]="accountNumberFrom"
              [currencyFrom]="currencyFrom"
              (transferActive)="eventTransferActive($event)">
</app-transfer>

<app-transfer-view *ngIf="transferView" [accountNumberFrom]="accountNumberFrom">

</app-transfer-view>